<div class="weather-container">
    <div class="weather-title">
        <h4>Belo Horizonte, BR</h4>
    </div>
    
    <div class="weather-body">
        <div class="locate">
            <h6>Location</h6>
            <ul class="list-unstyled">
                <li>Latitude: -43.94</li>
                <li>Longitude: -19.92</li>
            </ul>
        </div>

        <div class="current-weather">
            <h6>Current weather information</h6>

            <div class="current-weather-img">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="" />
                <span class="current-weather">Clear sky</span>
            </div>

            <div class="current-weather-temperature">
                <span>Temperature: 19.7</span>
                <span>Feels like: 16.33</span>
                <span>Min.: 19</span>
                <span>Max.: 20</span>
                <span>Humidity: 37%</span>
            </div>
        </div>
    </div>
</div>
