<div class="weather-container">
    <div *ngIf="loading" class="text-center spinner-container">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div *ngIf="!loading">
        <div class="weather-title">
            <h4>{{ currentWeather.name }}, {{ currentWeather.sys.country }}</h4>
        </div>
        
        <div class="weather-body">
            <div class="locate">
                <h6>Location</h6>
                <ul class="list-unstyled">
                    <li>Latitude: {{ currentWeather.coord.lat }}</li>
                    <li>Longitude: {{ currentWeather.coord.lon }}</li>
                </ul>
            </div>
    
            <div class="current-weather">
                <h6>Current weather information</h6>
    
                <div class="current-weather-img">
                    <img src="{{imageUrl}}" alt="" />
                    <span class="current-weather">{{ currentWeather.weather[0].description }}</span>
                </div>
    
                <div class="current-weather-temperature">
                    <span>Temperature: {{ currentWeather.main.temp }}</span>
                    <span>Feels like: {{ currentWeather.main.feels_like }}</span>
                    <span>Min.: {{ currentWeather.main.temp_min }}</span>
                    <span>Max.: {{ currentWeather.main.temp_max }}</span>
                    <span>Humidity: {{ currentWeather.main.humidity }}%</span>
                </div>
            </div>
        </div>
    </div>
</div>
