.spinner-container {
    margin-top: 35px;
}

.spinner-border {
    width: 100px;
    height: 100px;
}

.weather-body {
    padding-top: 10px;
}

/* Icons to save or remove city */

.bi:hover {
    cursor: pointer;
    opacity: .6;
}
